# The ENV file that configures the Canvas client isn't committed - it holds
# the Canvas access token and other potentially sensitive data. Set values
# using the syntax for bash et al.
#
# The variables required are:
ACCESS_TOKEN
